main {
  margin: 100px;
}

.title-page{
  text-align: center;
  color: #455bbf;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
}

#beneficios-content {
  display: flex;
  justify-content: space-between;
}

#titulo{
  margin-top: 100px;
  text-align: center;
}

#text-ben{
  text-align: justify;
  font-size: 18px;
}

#beneficio-img img {
  width: 125%;
  height: auto;
}

#beneficio-img {
  margin-right: 50px;
}

#beneficio-text {
  font-size: 22px;
  text-align: justify;
  margin-top: 50px;
  margin-right: 75px;
}